@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Exo:100,200,300,400,500,600,700,800,900');

/*-----------------------------------------------Colors*/

.bg-color {
    background-color: #cc2888b0;
}

.ui-menu-color-home {
    background-color: rgb(57, 60, 245);
}

.ui-menu-color-appointment {
    background-color: rgb(172, 8, 63);
}

.ui-menu-color-prescription {
    background-color: rgb(5, 145, 40);
}

.ui-menu-color-signin {
    background-color: rgb(59, 7, 143);
}

.bg-color-about-us {
    background-color: #ebc7dcb0;
}

.bg-color-signup {
    background-color: #ebc7dcb0;
}

/*-----------------------------------------------Special Text*/

.inline-block {
    display: inline-block;
}

/*-----------------------------------------------Heading*/

header {
    margin: 0;
}

.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 30px;
    min-height: 240px;
    padding: 100px 0 0 20px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 25px;
    display: block;
    color: #fff;
    font-size: 25px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

/*-----------------------------------------------Hover*/

.hvr-sweep-to-right:before {
    background: rgba(0, 0, 0,0.2);
    height: 120px;
}
   
/*-----------------------------------------------Footer*/

footer {
    background-color: #cc2888b0;
    color: #fff;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 25px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 10px 0;
    border-radius: 30px;
    font-size: 13px;
    line-height: 5px;
    text-align: center;
    color: #fff;
    background: rgb(172, 8, 63);
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(57, 60, 245);
}

#footer-details {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 30px;
    padding-top: 25px;
    color: #fff;
}

.links a {
    display: block;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
    color:  rgb(59, 7, 143);
}

.great-place-to-work {
    background: url("../images/great-place-to-work.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    min-height: 120px;
    margin-bottom: 20px;
}

/*-----------------------------------------------Section-Home*/

.about-us-section {
    font-family: "Exo", sans-serif;
    display: block;
    font-weight: 400;
    font-size: 15px;
    padding: 20px;
    color:  rgb(59, 7, 143);
}

.home-section {
    font-family: "Exo", sans-serif;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    padding: 20px;
    color:  rgb(59, 7, 143);
}

.service-icon {
    padding-top: 25px;
    display: block;
    color: rgb(59, 7, 143);
    font-size: 25px;
}

/*-----------------------------------------------Section-Appointment*/

.appointment {
    background: url("../images/appointment.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.appt-section {
    font-family: "Exo", sans-serif;
    display: block;
    font-weight: 600;
    font-size: 15px;
    padding: 20px;
    color:  rgb(172, 8, 63);
}

/*-----------------------------------------------Section-Prescription*/

.prescription {
    background: url("../images/prescription.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.prescription-section {
    font-family: "Exo", sans-serif;
    display: block;
    font-weight: 600;
    font-size: 15px;
    padding: 20px;
    color:  rgb(5, 145, 40);
}

/*-----------------------------------------------Section-SignIn*/

.signin {
    background: url("../images/signin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.signin-section {
    font-family: "Exo", sans-serif;
    display: block;
    font-weight: 600;
    font-size: 15px;
    padding: 20px;
    color:  rgb(59, 7, 143);
}

/*-----------------------------------------------General Section*/

.center-form {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 70%;
    color:  rgb(59, 7, 143);
}

button[type="submit"] {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    background-color: rgb(59, 7, 143);
}

/*-----------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .center-form {
        padding-top: 20px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}