@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Exo:100,200,300,400,500,600,700,800,900');

/*-----------------------------------------------Colors*/

.bg-color {
    background-color: #c289aa60;
    max-height: 240px;
}

/*-----------------------------------------------Heading*/

header {
    margin: 0;
}

.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin: 50px 0 0 50px;
    color: rgb(141, 6, 252);
}



   
