@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Exo:100,200,300,400,500,600,700,800,900');

/*-----------------------------------------------Colors*/

.bg-color {
    background-color: #c289aa60;
    max-height: 240px;
}

.ui-menu-color-home{
    background-color: rgb(57, 60, 245);
}

.ui-menu-color-appointment{
    background-color: rgb(172, 8, 63);
}

.ui-menu-color-prescription{
    background-color: rgb(5, 145, 40);
}

.ui-menu-color-signin{
    background-color: rgb(59, 7, 143);
}


/*-----------------------------------------------Heading*/

header {
    margin: 0;
}

.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 50px 0 0 50px;
    color: rgb(4, 6, 153);
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 12px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

   
